.page-product-bundle {
    .price-final_price {
        .price-from,
        .price-to {
            .price-container {
                @apply text-gray-700 block mb-4;

                .price-label {
                    @apply block text-lg font-medium;
                }

                .price {
                    @apply font-semibold text-2xl text-gray-800 leading-tight;
                }
            }

            .price-including-tax + .price-excluding-tax {
                @apply mt-1;

                .price {
                    @apply text-base;
                }
            }

            .old-price {
                .price-container {
                    .price,
                    .price-label {
                        @apply text-gray-500 font-normal inline text-base;
                    }
                }
            }
        }
    }
}
.catalog-product-view{
    .page-wrapper{
        .page-main{
            @apply mt-0 mb-0 bg-white;
            .columns{
                .column{
                    &.main{

                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
        .mt-sticky {
            flex-wrap: nowrap;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            text-align: center;
        }
        .mt-sticky-btn{
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        .mt-sticky-qty{
            width: 40%;
        }
    }
