.table-row-items > div.table-row-item {
    @apply bg-container-darker;

    &:nth-child(2n + 1) {
        @apply bg-container-lighter;
    }
}

.page-wrapper{
	--container-bg: theme("backgroundColor.werra.pageWrapper.primary");
	background-color: var(--container-bg);
}
.page-wrapper .page-main{
	--container-bg: theme("backgroundColor.werra.mainContainer.primary");
	background-color: var(--container-bg);
}
.cms-index-index{
	.page-wrapper{
		.page-main{
			@apply mt-0 mb-0;
			.columns{
				@apply bg-white px-0 max-w-full;
				.column{
					&.main{

					}
				}
			}
		}
	}
}
.swatch-color{
	.color-swatch{
		@apply h-[30px] w-[30px] rounded-full;
		min-width: unset;
	}

}
.mt-slider-nav{
    .splide__pagination__page {
	    width: 10px;
	    height: 10px;
	    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	    cursor: pointer;
	    background-color: rgba(255, 255, 255, 0.6);
	    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth animation */
	}


	/* When selected */
	.splide__pagination__page[aria-selected="true"] {
	    width: 50px; 
	}
}
.content-left{
	.l-text{
		@apply w-full md:w-[77%];
	}
	.s-text{
		@apply w-full md:w-[60%];
	}
}
.content-right{
	.l-text{
		
	}
	.s-text{
		
	}
	.explore{
		@apply flex justify-end;
	}
}
@keyframes customer-logo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.customer-logo-slider {
	@apply mask-fade-x;
	overflow: hidden;
	white-space: nowrap;
	position: relative;

	.slider-inner {
		@apply flex animate-customer-logo-slow md:animate-customer-logo-fast;
		

		.mgs-scroll-div {
			height: 101px;
			width: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.slider-item {
			@apply pl-2 md:pl-4 w-[40%] md:w-[75%] sm:w-1/2 md:w-auto;
			flex: none;

			img.mgs-scroll-img {
				object-fit: cover;
				width: 13rem;
				max-width: fit-content;
			}

		}

		&:hover {
			animation-play-state: paused;
		}
	}

}
.message.success{
	@apply border bg-werra-general-success_msg-background text-werra-general-success_msg-text border-werra-general-success_msg-border;
	button {
		@apply text-werra-general-success_msg-text;
	}
}
.message.error{
	@apply border bg-werra-general-error_msg-background text-werra-general-error_msg-text border-werra-general-error_msg-border;
	button {
		@apply text-werra-general-error_msg-text;
	}
}
.message.warning, .message.info{
	@apply border bg-werra-general-warning_msg-background text-werra-general-warning_msg-text border-werra-general-warning_msg-border;
	button {
		@apply text-werra-general-warning_msg-text;
	}
}
.catalog-product-view{
   [type=number] {
        border: none;
        @apply bg-th-secondary-lighter;
    }
    [multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, input:where(:not([type])):focus, select:focus, textarea:focus {
		outline: 2px solid #0000;
		outline-offset: 2px;
		--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: none;
		--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
		box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
		border-color: #DDDDDD;
	}
	/* Chrome, Safari, Edge, Opera */
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}
.filter-current:focus-visible {
	outline: none;
	border-color: #DDDDDD;
}
#active-filtering-heading:focus-visible {
	outline: none;
	border-color: #DDDDDD;
}
:focus-visible {
	outline: none;
	border-color: #DDDDDD;
}
.filter-options-title:focus-visible {
	outline: none;
	border-color: #DDDDDD;
}
input#newsletter-subscribe::placeholder {
    font-style: italic;
}
.btn-subscribe{
	padding: 5px 30px;
	border-radius: .375rem;
}